body {background-color: #62a8c9}

body {
    text-align: center;
  }

  .owl {
    font-family: fantasy;
  }

  .secret {
    opacity: 0.5;
  }
  
  ul {
    list-style-type: none;
  }

table,
th,
td {
  border: 1px solid gray;
}

table {
  margin: 0 auto;
}
